.navbarSection {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Syne', sans-serif;

  .navbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 100px;
    background-color: #181818;
    width: 100%;

    .logo img {
      height: 62px;
    }

    .hamburger {
      cursor: pointer;
      display: none;
    }

    .nav {
      display: none; /* Default: Hidden */
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.95);
      z-index: 1000;
      padding: 20px 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        li {
          list-style: none;
          font-size: 1.8rem;

          a {
            text-decoration: none;
            color: #fff;
            transition: color 0.3s ease;

            &:hover {
              color: #deff10;
            }
          }
        }
      }
    }

    .nav.active {
      display: flex;
      opacity: 1;
      visibility: visible;
    }

    .navBtn {
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      padding: 1rem 1.2rem;
      height: 3rem;

      p {
        color: black;
        font-weight: 600;
      }

      &:hover {
        background: #deff10;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbarSection {
    .navbarContainer {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbarSection {
    .navbarContainer {
      padding: 1rem;

      .hamburger {
        display: block;
      }

      .navBtn {
        display: none;
      }
    }
  }
}
