.homeSection
{
  height: 100vh;
  display: flex;
  align-items: center;
  .homeContainer
  {
    font-family: 'Syne', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


    .contentBox
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      z-index: 2;

      .subTitle
      {
        color: #deff10;
        font-size: 20px;
        padding: 7.5px 15px;
        font-weight: 500;
        background-color: #deff101f;
        border-radius: 6px;
      }
      h2
      {
        font-size: 72px;
        line-height: 86px;
        width: 55%;
        text-align: center;
      }
      .buttonBox
      {
        background-color: #deff10;
        color: black;
        padding: 18px 39px;
        font-weight: 700;
        border-radius: 6px;
        cursor: pointer;
      }
    }


    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    .shapeRotate {
      animation: rotate 24s linear infinite; /* 5s can be adjusted for speed */
      position: absolute;
      bottom: 65px;
      left: 451px;
    }
    
  }
}