// home-section starts here
.homeSection
{
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  padding: 140px 0;
  .homeContainer
  {
    font-family: 'Syne', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    .bgOne
    {
      position: absolute;
      left: 1rem;
    }
    .bgTwo
    {
      position: absolute;
      right: 2rem;
    }

    .contentBox
    {
      max-width: 1140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      z-index: 2;

      .subTitle
      {
        color: #deff10;
        font-size: 20px;
        padding: 7.5px 15px;
        font-weight: 500;
        background-color: #deff101f;
        border-radius: 6px;
      }
      h2
      {
        font-size: 72px;
        line-height: 86px;
        text-align: center;
      }
      .buttonBox
      {
        background-color: #deff10;
        color: black;
        padding: 18px 39px;
        font-weight: 700;
        border-radius: 6px;
        .btn
        {
          color: black;
        }
      }
      .buttonBox:hover
      {
        cursor: pointer;
        background: #fff;
        

      }
    }


    @keyframes rotate 
    {
      0% 
      {
        transform: rotate(0deg);
      }
      100% 
      {
        transform: rotate(360deg);
      }
    }
    
    .shapeRotate 
    {
      animation: rotate 24s linear infinite; 
      position: absolute;
      bottom: 65px;
      left: 451px;
    }
    
  }
}
// home-section ends here

// about-section starts here
.aboutSection
{
  height: 100vh;
  font-family: 'Syne', sans-serif;
  .aboutContainer
  {
    display: flex;
    
    .leftAbout
    {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .floatImg 
      {
        animation: floatBg 3s infinite alternate;
        z-index: 2;
        img 
        {
          height: 440px;
        }
      }
      @keyframes rotate 
      {
        0% 
        {
          transform: rotate(0deg);
        }
        100% 
        {
          transform: rotate(360deg);
        }
      }
      .rotateShape
      {
        position: absolute;
        right: 0;
        bottom: 0;
        animation: rotate 24s linear infinite;
      }




      @keyframes float 
      {
        0% 
        {
          transform: translateX(-50px);
        }
        50% 
        {
          transform: translateX(-5px);
        }
        100% 
        {
          transform: translateX(-50px);
        }
      }
      .shapeFive 
      {
        animation: float 10s linear infinite;
        // animation-name: float;
        // animation-duration: 15s;
        // animation-iteration-count: infinite;
        // animation-timing-function: linear;
        position: absolute;
        right: 105px;
        top: 10px;
      }
    }

    @keyframes floatBg {
      0% {
        transform: translateY(-20px);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(-20px);
      }
    }
    
    


    .blurBg
    {
      position: absolute;
      left: 210px;
      img 
      {
        height: 600px;
      }
    }



    // zoom-fade animation
    @keyframes zoom-fade 
    {
      0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    }
    .zoomFade
    {
      animation: zoom-fade 4s infinite linear;
      position: absolute;
    }



    .rightAbout
    {
      flex: 1;
      
      display: flex;
      justify-content: center;
      align-items: center;
      .aboutContents
      {
        max-width: 460px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .subTitle
        {
          width: 126px;
          color: #deff10;
          font-size: 22px;
          padding: 7.5px 15px;
          font-weight: 500;
          background-color: #deff101f;
          border-radius: 6px;
        }
        h2 
        {
          font-size: 48px;
          line-height: 48px;
        }
        p
        {
          color: rgba(255, 255, 255, 0.7);
          font-size: 1.3rem;
        }
      }
    }
  }
}
// about-section ends here

// joinUs-section starts here
.joinUsSection
{
  height: 100vh;
  .joinUsContainer
  {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    font-family: 'Syne', sans-serif;

    .contentsJoinUs
    {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10rem 0;
      gap: 3rem;
      .hiringBanner
      {
        text-align: center;
        h2 
        {
          font-size: 4rem;
          line-height: 80px;
          font-weight: 700;
        }
      }
      .joinBtn 
      {
        background-color: #deff10;
        color: black;
        padding: 14px 26px;
        text-align: center;
        border-radius: 6px;
        font-weight: 600;
        font-size: 1.2rem;
        z-index: 3;
      }
      .joinBtn:hover
      {
        cursor: pointer;
        background: #fff;
      }
      .patternLayer
      {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      @keyframes rotate 
      {
        0% 
        {
          transform: rotate(0deg);
        }
        100% 
        {
          transform: rotate(360deg);
        }
      }
      .patternLayer img:nth-child(1)
      {
        position: absolute;
        left: -200px;
        top: 200px;
        animation: rotate 24s linear infinite; 
      }

      @keyframes floatBg {
        0% {
          transform: translateY(-20px);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(-20px);
        }
      }
      .patternLayer img:nth-child(2)
      {
        animation: floatBg 3s infinite alternate;
        position: absolute;
        right: -6rem;
        top: 4rem;
      }
      @keyframes zoom-fade 
      {
         0% 
        {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
        50% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% 
        {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
      .patternLayer img:nth-child(3)
      {
        animation: zoom-fade 4s infinite linear;
        position: absolute;
        left: 10rem;
        height: 21rem;
        top: 4rem;
      }
      .patternLayer img:nth-child(4)
      {
        position: absolute;
        left: -18rem;
        top: -13rem;
      }
    }
  }
}
// joinUs-section ends here

// footer-section starts here
.footerSection
{
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Syne', sans-serif;
  overflow: hidden;
  .footerContainer
  {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .leftFooter
  {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    h4, h2, p 
    {
      z-index: 3;
    }
    h4 
    {
      width: 420px;
      font-size: 24px;
      line-height: 40px;
    }
    h2 
    {
      font-size: 64px;
    }
    h2:hover 
    {
      color: #deff10;
      cursor: pointer;
    }
    .footerShape
    {
      position: absolute;
      right: -3rem;
      bottom: 2rem;
      animation: zoom-fade 4s infinite linear;
      img 
      {
        height: 13rem;
      }
    }
    .footerBg
    {
      position: absolute;
      left: -14rem;
      top: -10rem;
      z-index: 1;
    }
    p 
    {
      margin-top: 3rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .midFooter
  {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 3;
    li 
    {
      list-style: none;
      a 
      {
        text-decoration: none;
        font-size: 25px;
        line-height: 22px;
      }
      a:hover 
      {
        cursor: pointer;
        color: #deff10;
      }
    }
  }
  .rightFooter
  {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h4 
    {
      font-size: 25px;
    }
    h4:hover 
    {
      color: #deff10;
      cursor: pointer;
    }
    div 
    {
      display: flex;
      flex-direction: column;
      gap: 0.5 rem;
      h6 
      {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.7);
      }
    }

  }
}
// footer-section ends here

// Global media query for small screens (tablets)
@media only screen and (min-width: 768px) and (max-width: 1024px) 
{
  .homeSection
  {
    overflow: hidden;
  }
  .aboutSection
  {
    overflow: hidden;
  }
  .joinUsSection
  {
    overflow: hidden;
  }
  .footerSection
  {
    overflow: hidden;
  }
}
// Global media query for small screens (mobile)
@media only screen and (max-width: 768px) 
{
  // homeSection for mobile
  .homeSection 
  {
    padding: 30px 20px; 
    overflow: hidden;
    .homeContainer 
    {
      flex-direction: column; 
      align-items: center;

      .shapeRotate
      {
        left: 0;
      }

      h2 
      {
        font-size: 48px; 
        line-height: 56px;
      }

      .buttonBox 
      {
        padding: 12px 24px; 
        font-size: 1rem;
      }
    }
  }

  // aboutSection for mobile
  .aboutSection {
    padding: 1rem;
    .aboutContainer {
      flex-direction: column;
      .leftAbout
      {
        .floatImg
        {
          img 
          {
            height: 300px;
          }
        }
        .rotateShape
        {
          display: none;
        }
      }
      .blurBg
      {
        left: 0;
        img
        {
          height: 300px;
        }
      }
      .leftAbout,
      .rightAbout {
        width: 100%; 
      }

      h2 {
        font-size: 32px; 
        line-height: 40px;
      }
    }
  }

  // Adjust joinUsSection for mobile
  .joinUsSection {
    .joinUsContainer {
      padding: 5rem 1rem; 

      .contentsJoinUs
      {
        .hiringBanner 
        {
          h2 
          {
            font-size: 2.5rem;
            line-height: 48px;
          }
        }
        .joinBtn 
        {
          padding: 10px 20px; // Adjust button padding
          font-size: 1rem;
        }
        .patternLayer img:nth-child(1)
        {
          left: 5rem;
          top: 25rem;
        }
        .patternLayer img:nth-child(2)
        {
          right: 5rem;
          top: -3rem;
        }
        .patternLayer img:nth-child(3)
        {
          left: 0;
        }
        .patternLayer img:nth-child(4)
        {
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }

  // Adjust .footerSection for mobile
  .footerSection {
    padding: 3rem 1rem; 
    .footerContainer {
      flex-direction: column; 
      align-items: center;

      .leftFooter
      {
        h4 
        {
          width: auto;
        }
      }
      .leftFooter,
      .midFooter,
      .rightFooter {
        width: 100%; 
        text-align: center; 
        gap: 1.5rem; 
      }

      h2 {
        font-size: 48px; 
      }

      li a {
        font-size: 20px; 
      }

      .footerBg,
      .footerShape {
        display: none; 
      }
    }
  }
}



